.container-store {
  box-sizing: border-box;
  background-color: #e24647;
  width: 90%;
  max-width: 1730px;
  padding: 60px 60px 165px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 1700px), (max-height: 914px) {
  .container-store {
    position: static;
    transform: none;
    width: 100%;
  }
}

@media (max-height: 914px) {
  .container-store {
    margin: 0 auto;
  }
}

@media (max-width: 463px) {
  .container-store {
    padding-right: 1em;
  }
}
