.description-product {
  width: 600px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  float: right;
}

dd {
  margin-inline-start: 0;
}

.description-product > .title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 100px;
}

.description-product > .avaliation {
  margin-bottom: 28px;
  padding-left: 10px;
}

.avaliation,
.description-delivery,
.description-price {
  font-size: 20px;
}

.description-product > .description-delivery {
  margin-bottom: 26px;
  width: 200px;
  text-align: right;
}

.description-delivery > .delivery {
  display: inline;
  float: left;
}

.description-product > .description-price {
  margin-bottom: 73px;
  width: 200px;
  text-align: right;
}

.description-price > .price {
  display: inline;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 30px;
}

.description-product > .more {
  margin-bottom: 100px;
}

.description-product > .more > .action {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.description-product > .add-cart,
.buy {
  display: inline-block;
}
