.description-product {
  width: 700px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  vertical-align: middle;
  display: inline-block;
  position: relative;
}

.description-product > .title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 50px;
}

.description-product > .hearts {
  position: absolute;
  transform: translateX(-100%);
  left: -47px;
  top: 7px;
  cursor: pointer;
  width: 33px;
  height: 29px;
}

.description-product > .hearts.-active .heart {
  display: none;
}

.description-product > .hearts.-active .heart.-active {
  display: inline-block;
}

.description-product .heart.-active {
  display: none;
}

.description-product > .hearts > img:hover {
  transform: scale(1.1);
}

.description-product > .stars {
  margin-bottom: 10px;
}

.description-product > .stars > .star {
  margin-right: 9px;
  cursor: pointer;
}

.description-product > .stars > .star:hover {
  transform: scale(1.2);
}

.description-product > .avaliation {
  margin-bottom: 28px;
  padding-left: 10px;
}

.avaliation,
.description-delivery,
.description-price {
  font-size: 20px;
}

.description-product > .description-delivery {
  margin-bottom: 26px;
  width: 200px;
  text-align: right;
}

.description-delivery > .delivery {
  display: inline;
  float: left;
}

.description-product > .description-price {
  margin-bottom: 73px;
  width: 200px;
  text-align: right;
}

.description-price > .price {
  display: inline;
  float: left;
}

.description-product > .text {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 30px;
}

.description-product .action {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.description-product > .add-cart,
.buy {
  display: inline-block;
}

@media (max-width: 1550px) {
  .description-product {
    display: block;
    width: 60%;
    min-width: 780px;
    margin: 0 auto;
  }

  .description-product > .title {
    font-size: 30px;
    text-align: center;
  }

  .description-product > .hearts {
    left: 32px;
  }

  .description-product > .stars {
    float: left;
    margin-bottom: 20px;
  }

  .description-product > .avaliation {
    float: right;
  }

  .description-product .more {
    margin-bottom: 4em;
  }
}

@media (max-width: 860px) {
  .description-product {
    width: 90%;
    min-width: auto;
  }
}

@media (max-width: 430px) {
  .description-product > .title {
    margin-bottom: 10px;
  }

  .description-product > .hearts {
    position: static;
    display: inline-block;
    float: left;
    text-align: center;
    transform: scale(0.8);
    left: 0;
    top: 0;
    margin-bottom: 1em;
  }
}
