.description-list {
  width: 600px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  float: right;
}

dd {
  margin-inline-start: 0;
}

.description-title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 100px;
}

.description-avaliation {
  margin-bottom: 28px;
  padding-left: 10px;
}

.delivery {
  margin-bottom: 26px;
}

.description-avaliation,
.description-delivery,
.description-delivery-amount,
.description-price,
.description-amount {
  font-size: 20px;
}

.description-delivery {
  margin-right: 82px;
  display: inline;
}

.description-delivery-amount {
  display: inline;
}

.price-delivery {
  margin-bottom: 73px;
}

.description-price {
  display: inline;
  margin-right: 82px;
}

.description-amount {
  display: inline;
  margin-bottom: 73px;
}

.description-text {
  font-size: 18px;
  margin-bottom: 35px;
  line-height: 30px;
}

.description-more {
  margin-bottom: 100px;
}

.description-more > a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.description-add-cart,
.description-buy {
  display: inline-block;
}
