.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 95px;
  margin-left: 60px;
}

.header-store > .title {
  color: inherit;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  float: left;
}

.header-store .search {
  width: 358px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 20px;
  color: #fff;
  padding-bottom: 8px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.header-store .search::placeholder {
  color: rgba(255, 255, 255, 0.856);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-store .navigation {
  float: right;
}

.header-store .actions {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 21px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 60px;
}
